body {
    font-family: "Oxygen Mono", monospace;
}

#file-input,
#delete-button {
    display: inline-block;
}

#create-button {
    display: inline-block;
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
}

#delete-button {
    display: inline-block;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
}

#import-button {
    display: inline-block;
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
}

#crossword-container {
    display: flex;
    flex-direction: column;
}

#crossword {
    order: 1;
    width: 750px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px
}

#crossword .crossword-row {
    display: flex;
}

#crossword .crossword-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
}

#crossword .crossword-cell sup {
    position: absolute;
    font-size: 0.5em;
    top: 3px;
    left: 3px;
}

/* styles for the clues element go here */
#clues {
    order: 2;
    margin: 50px
}

#clues ul {
    list-style: none;
}

.answer {
    display: none;
}

.selected {
    background-color: pink;
}

li {
    padding: .25em;
}

li.selected {
    background-color: pink;
}

#modal {
    /* Other styles for the input field */
    border: solid 1px darkslategray;
    border-radius: 1em;
    padding: 1em;
    background-color: aliceblue;
}

#modal input {
    padding: .5em;
    letter-spacing: 1em;
    text-transform: uppercase;
}

#modal input::placeholder {
    font-size: inherit;
    letter-spacing: inherit;
}

span:focus {
    outline: 1px solid rgba(255, 0, 0, 0.0);
    /* Turn off outline without killing the caret */
    text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
    /* Add your CSS rules for phones here */
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    /* Add your CSS rules for tablets here */

}

@media only screen and (min-width: 769px) {
    /* Add your CSS rules for desktops here */
}

@media only screen and (min-width: 1024px) {
    /* Add your CSS rules for desktops here */
    #crossword-container {
        flex-direction: row;
    }
}